body {
    overflow: auto;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    color: #E0D7D7;
    border: 0;
}


h1 {
    font-size: 5rem;
    text-align: center;
    font-family: sans-serif;
}

#topcorner{
    position: absolute;
    top: 1vw;
    right: 0;
}

#topcorner p {
    margin: 1px;
    margin-left: 0;
}

#content, #innerContent, #desc {
    margin-left: 2vw;
}

#mainWeather {
    margin-bottom: 2px;
    font-size: 1.8rem;
}

#desc {
    margin-top: 0;
    font-size: 1.2rem;
}

#additionalContent {
    position: fixed;
    width: 100vw;
    height: auto;
    bottom: 0%;
    color: black;
}

#additionalContent p, #additionalContent h5{
    text-align: center;
    margin-bottom: 1px;
}

#innerContent {
    margin-bottom: 0;
    border: 0;
}

#extraDetails {
    margin-top: 0;
    border: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    #mainWeather {
        font-size: 1.2rem;
    }
    #desc {
        font-size: 0.8rem;
    }
    #topcorner {
        font-size: 0.7rem;
    }
    #additionalContent h5 {
        font-size: 1rem;
    }
    #additionalContent p {
        font-size: 0.7rem;
    }
}
